*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    background-color: #0A022C;
}

.page-title{
    margin: 130px 0 0 0;
    text-align: center;
    font-size: 40px;
}
.page-title h2{
    color: #F6E8EA ;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px;
    margin: 20px 100px;
    background-image: linear-gradient(90deg, #f6e8ea, #0A022C);
}
.event-pic{
    width: 35%;
    aspect-ratio: 4/3;
    box-shadow: 10px 5px #5C5552;
    transition: 0.8s;
}
.event-pic:hover{
    box-shadow: 10px 8px #0A022C;
}
.event-pic img{
    object-fit: cover;
    object-position: center;
}
.event-text{
    width: 55%;
    padding: 2.5%;
}
.event-text h4{
    display: flex;
    margin-bottom: 10px;
    color: #F6E8EA ;
    font-size: 28px;
    line-height: 50px;
    box-shadow: 3px 3px #5C5552;
    width: 150px;
    transition: .8s;
}
.event-text h4:hover{
    border: 1px #0A022C solid;
    color: #F6511D;
    box-shadow: 5px 5px #0A022C;
}
.event-text p{
    height: 60%;
    color:#F6E8EA;
    font-size: 14px;
    line-height: 28px;
}
.event-text p:hover{
    box-shadow: 5px 5px #0A022C;
    transition: .8s;
}
.event-text a{
    width: 30%;
    color:#F6E8EA ;
    display: flex;
    margin-top: 10px;
    box-shadow: 3px 3px #5C5552;
    transition: .8s;
}
.event-text a:hover{
    box-shadow: 5px 5px #0A022C;
}






footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    background: linear-gradient(to right, #0A022C, #5C5552,#0A022C);
    padding: 1vh 15vw 1vh 15vw;
    text-align: center;
}
.footer-flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
}
.footer-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 32vw;
    height: 20vh;
}
:is(.footer-link,.footer-sub-social) span{
    color: #F6E8EA;
    text-align: left;
    margin: 1vh;
}
footer span{
    color: #F6E8EA;
    text-align: left;
}
.footer-link ul{
    margin: 0 10px 0 10px;
    width: 50px;
    display: flex;
}
.footer-link ul li{
    display: flex;
    margin: 10px;
    font-size: 12px;
}
.footer-link ul li a{
    color: #F6E8EA ;
}
.subus{
    display: flex;
    margin: 0.5vh;
}
.footer-sub-social{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 32vw;
    height: 10vh;
}
.footer-sub-social ul{
    display: flex;
    flex-direction: row;
    margin: 1vh;
}
.footer-sub-social ul li{
    margin: 0 5px 0 5px;
    font-size: 12px;
}
.footer-sub-social ul li a{
    color:#F6E8EA ;
}