li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background-color: rgb(249, 249, 249);
    background-image: url(./png/lined-bg-2.png);
}

/* head */
.head{
    display: none;
}
@media screen and (min-width:768px) {
    .head{
        width: 100%;
        height: 1.8vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 0 1vw;
        position: absolute;
        z-index: 10;
        border-bottom: 1px white solid;
    }
    .head-left{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .head span{
        font-family: Garamond  ;
        font-size: 1vw;
        line-height: 1.8vw;
        letter-spacing: 0.1vw;
        margin: 0;
        color: #F6E8EA;
    }
    .head-right ul{
        display: flex;
    }
    .head-right li{
        font-family: Garamond  ;
        font-size: 1vw;
        line-height: 1vw;
        letter-spacing: 0.25vw;
        margin: 0 0.5vw;
    }
}




/* banner */
.banner{
    width: 100%;
    aspect-ratio: 3/4;
    position: relative;
}
.banner img{
    width: 100%;
    aspect-ratio: 3/4;
    object-fit: cover;
    object-position: 50% 50%;
}
.banner h1{
    width: 100%;
    text-align: center;
    font-family: Garamond  ;
    font-size: 5vw;
    letter-spacing: 0.3vw;
    color: #F6E8EA;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media screen and (min-width:768px){
    .banner{
        width: 100%;
        aspect-ratio: 2/1;
        position: relative;
    }
    .banner img{
        width: 100%;
        aspect-ratio: 2/1;
        object-fit: cover;
        object-position: 50% 50%;
    }
    .banner h1{
        width: 100%;
        text-align: center;
        font-size: 3vw;
        line-height: 6vw;
        letter-spacing: 0.3vw;
        color: #F6E8EA;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* new-reading */

.new-reading{
    width: 100%;
}
.reading-title{
    height: 14vw;
    padding: 0vw 5vw;
    position: relative;
    overflow: hidden;
}
.reading-title h3{
    position: absolute;
    top: 0;
    left: -10vw;
    width: 100%;
    text-align: center;
    font-family: Garamond;
    font-style: italic;
    font-size: 3vw;
    line-height: 6vw;
    letter-spacing: 0.2vw;
    color: #c9ab81;
    opacity: 0;
    transition: 1s;
}
.reading-title h2{
    position: absolute;
    top: 6vw;
    left: 10vw;
    width: 100%;
    text-align: center;
    font-family: Garamond  ;
    font-size: 5vw;
    line-height: 8vw;
    letter-spacing: 0.7vw;
    opacity: 0;
    transition: 1s;
}
.reading-title h2.active{
    color: black;
    opacity: 1;
    left: 0;
}
.reading-title h3.active{
    opacity: 1;
    left: 0;
}
.reading-box{
    margin: 0 15vw;
    position: relative;
    aspect-ratio: 1/2;
}
.reading-box img{
    width: 100%;
    aspect-ratio: 1/1.75;
    object-fit: cover;
    object-position: 50% 50%;
    transition: 0.75s;
}
.box-detail{
    position: absolute;
    top: 80%;
    width: 100%;
    aspect-ratio: 2/0.7;
}
.detail{
    width: 90%;
    aspect-ratio: 1/0.2;
    background-color: white;
    padding: 0.5vw 0vw;
}
.detail p{
    font-family: Garamond  ;
    font-size: 3vw;
    line-height: 6vw;
}
.detail a{
    font-family: Garamond  ;
    font-size: 6vw;
    line-height: 8vw;
    letter-spacing: 0.5vw;
    color: black;
}
.box-detail a{
    font-family: Garamond  ;
    font-size: 3vw;
    line-height: 3vw;
    letter-spacing: 0.4vw;
    color: black;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter:blur(6px) ;
}

@media screen and (min-width:768px){
    .reading-area{
        width: 100%;
        padding: 0 7vw;
        display: flex;
        justify-content: space-between;
    }
    .reading-box{
        width: 31%;
        margin: 0;
    }
    .detail{
        aspect-ratio: 1/0.3;
    }
    .detail p{
        font-size: 1.5vw;
        line-height: 3vw;
    }
    .detail a{
        font-size: 4vw;
        line-height: 5vw;
        letter-spacing: 0.6vw;
    }
    .box-detail a{
        font-size: 1.5vw;
        line-height: 1.5vw;
        letter-spacing: 0.2vw;
        color: black;
    }
}


/* our-gallery */

.our-gallery{
    width: 100%;
}
.our-gallery-title{
    height: 14vw;
    padding: 0vw 5vw;
    position: relative;
    overflow: hidden;
}
.our-gallery-title h3{
    position: absolute;
    top: 0;
    left: -10vw;
    width: 100%;
    height: 6vw;
    text-align: center;
    font-family: Garamond;
    font-style: italic;
    font-size: 3vw;
    line-height: 6vw;
    letter-spacing: 0.2vw;
    color: #c9ab81;
    opacity: 0;
    transition: 1s;
}
.our-gallery-title h2{
    position: absolute;
    top: 6vw;
    left: 10vw;
    width: 100%;
    height: 8vw;
    text-align: center;
    font-family: Garamond  ;
    font-size: 5vw;
    line-height: 8vw;
    letter-spacing: 0.7vw;
    opacity: 0;
    transition: 1s;
}
.our-gallery-title h2.active{
    color: black;
    opacity: 1;
    left: 0;
}
.our-gallery-title h3.active{
    opacity: 1;
    left: 0;
}
.event01-PC-background{
    display: none;
}
.event02-PC-background{
    display: none;
}
.event03-PC-background{
    display: none;
}
.slider{
    padding:3vw 0vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 5vw;
}
.slider-img img{
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    vertical-align: middle;
}

.slider-box01{
    position: relative;
    width: 100%;
    aspect-ratio: 2/1;
    /* background-color: aqua; */
}
.slider01-img01{
    position: absolute;
    z-index: 2;
    transform: translate(0,-50%);
    top: 50%;
    left: 0%;
    width: 70%;
    aspect-ratio: 2/1;
    overflow: hidden;
}
.slider01-img01 img{ 
    padding-right: 5%;
    width: 100%;
    aspect-ratio: 2/1;
    transition: 1s;
    opacity: 0;
}
.slider01-img01 img.active{ 
    padding-right: 0%;
    opacity: 1;

}
.slider01-decoration-bgcolor-01{
    position: absolute;
    z-index: 10;
    transform: translate(-0%,-50%);
    top: 50%;
    left: 0%;
    width: 70%;
    aspect-ratio: 2/1.01;
    background-image: linear-gradient(90deg,rgb(249, 249, 249)2%,transparent 50%,rgb(249, 249, 249)98%);
}
.slider01-decoration01{
    position: absolute;
    z-index: 10;
    transform: translate(0%,-50%);
    top: 50%;
    left: 0%;
    width: 35%;
    aspect-ratio: 1/1;
    background-image: url(./png/lined-bg-2.png);
    opacity: 0.65;
}
.slider01-decoration01{
    position: absolute;
    z-index: 10;
    transform: translate(0%,-50%);
    top: 50%;
    right: 0%;
    width: 70%;
    aspect-ratio: 2/1;
    background-image: url(./png/lined-bg-2.png);
    opacity: 0.65;
}
.slider-article01{
    position: absolute;
    z-index: 15;
    transform: translate(0%,-50%);
    top: 50%;
    right: 0;
    width: 40%;
    aspect-ratio: 1/1;
    /* background-color: aquamarine; */
}
.slider-article01 h4{
    font-family: garamond;
    padding-left: 10vw;
    font-size: 5vw;
    line-height: 6vw;
    letter-spacing: 1vw;
    transition: 1s;
    opacity: 0;
}
.slider-article01 h4.active{
    padding-left: 0vw;
    opacity: 1;
}
.slider-article01 p{
    font-family: garamond;
    font-size: 3vw;
    line-height: 6vw;
    letter-spacing: 0.1vw;
    margin-top: 3vw;
    margin-left: 15% ;
    padding-left: 10%;
    opacity: 0;
    transition: 1s;
}
.slider-article01 p.active{
    padding-left: 0%;
    opacity: 1;
}
.slider-article01 a{
    font-family: garamond;
    font-size: 3vw;
    letter-spacing: 0.1vw;
    color: black;
    position: absolute;
    left: 50%;
    bottom: 10%;
    opacity: 0;
    transition: 1s;
}
.slider-article01 a.active{
    position: absolute;
    left: 35%;
    opacity: 1;
}


.slider-box02{
    position: relative;
    width: 100%;
    aspect-ratio: 2/1;
}
.slider02-img01{
    position: absolute;
    z-index: 2;
    transform: translate(0,-50%);
    top: 50%;
    right: 0;
    width: 50%;
    aspect-ratio: 1/1;
    overflow: hidden;
}
.slider02-img01 img{ 
    width: 100%;
    aspect-ratio: 1/1;
    transition: 1s;
    opacity: 0;
    margin-left: 5%;
}
.slider02-img01 img.active{
    margin-left: 0%;
    opacity: 1;
}
.slider02-decoration-bgcolor-01{
    position: absolute;
    z-index: 2;
    transform: translate(0,-50%);
    top: 50%;
    right: 0;
    width: 50%;
    aspect-ratio: 1/1;
    background-image: linear-gradient(90deg,rgba(249, 249, 249,0.5)0%,transparent 50%,rgba(249, 249, 249,0.85)100%);
}
.slider02-decoration01{
    position: absolute;
    z-index: 10;
    transform: translate(0,-50%);
}
.slider02-decoration02{
    position: absolute;
    z-index: 10;
    transform: translate(0,-50%);
    top: 50%;
    right: -4%;
    width: 10%;
    aspect-ratio: 1/5;
    background-image: url(./png/lined-bg-2.png);
    opacity: 0.5;
}
.slider-article02{
    position: absolute;
    z-index: 15;
    transform: translate(0%,-50%);
    top: 50%;
    left: 0;
    width: 50%;
    aspect-ratio: 1/1;
}
.slider-article02 h4{
    text-align: end;
    font-family: garamond;
    margin-right: 0;
    font-size: 5vw;
    line-height: 6vw;
    letter-spacing: 1vw;
    transition: 1s;
    opacity: 0;
}
.slider-article02 h4.active{
    margin-right: -10%;
    opacity: 1;
}
.slider-article02 p{
    text-align: end;
    font-family: garamond;
    font-size: 3vw;
    line-height: 6vw;
    letter-spacing: 0.1vw;
    margin-top: 3vw;
    padding-right: 15%;
    margin-top: 35%;
    opacity: 0;
    transition: 1s;
}
.slider-article02 p.active{
    margin-top: 25%;
    opacity: 1;
}
.slider-article02 a{
    font-family: garamond;
    font-size: 3vw;
    letter-spacing: 0.1vw;
    color: black;
    position: absolute;
    left: 45%;
    bottom: 8%;
    opacity: 0;
    transition: 1s;
}
.slider-article02 a.active{
    left: 55%;
    opacity: 1;
}


.slider-box03{
    position: relative;
    width: 100%;
    aspect-ratio: 2/1;
}
.slider03-img01{
    position: absolute;
    z-index: 2;
    /* transform: translate(0,-50%); */
    top: 5%;
    left: 0%;
    width: 60%;
    aspect-ratio: 1/.6;
    overflow: hidden;
}
.slider03-img01 img{ 
    margin: 0 5% 0 -5%;
    width: 100%;
    aspect-ratio: 1/.6;
    transition: 1s;
    opacity: 0;
}
.slider03-img01 img.active{
    margin:0;
    opacity: 1;
}
.slider03-img02{
    position: absolute;
    z-index: 2;
    top: 58%;
    left: 5%;
    width: 18%;
    aspect-ratio: 1/1;
    overflow: hidden;
}
.slider03-img02 img{ 
    margin: 5% 0 -5% 0;
    width: 100%;
    aspect-ratio: 1/1;
    object-position: 50% 50%;
    transition: 1s;
    opacity: 0;
}
.slider03-img02 img.active{
    margin:0;
    opacity: 1;
}
.slider-article03{
    position: absolute;
    z-index: 15;
    transform: translate(0%,-50%);
    top: 50%;
    right: 0;
    width: 40%;
    aspect-ratio: 1/1;
}
.slider-article03 h4{
    font-family: garamond;
    margin-left: 0%;
    margin-top: -10%;
    font-size: 5vw;
    line-height: 6vw;
    letter-spacing: .5vw;
    transition: 1s;
    opacity: 0;
}
.slider-article03 h4.active{
    margin-left: -20%;
    margin-top: -10%;
    opacity: 1;
}
.slider-article03 p{
    font-family: garamond;
    font-size: 3vw;
    line-height: 6vw;
    letter-spacing: 0.1vw;
    margin-top: 35%;
    margin-left: 5%;
    padding:0 15% 0 10%;
    opacity: 0;
    transition: 1s;
}
.slider-article03 p.active{
    margin-left: 0;
    padding-right: 15%;
    opacity: 1;
}
.slider-article03 a{
    font-family: garamond;
    font-size: 3vw;
    letter-spacing: 0.1vw;
    color: black;
    position: absolute;
    left: 30%;
    bottom: 15%;
    opacity: 0;
    transition: 1s;
}
.slider-article03 a.active{
    left: 25%;
    opacity: 1;
}



@media screen and (min-width:768px) {
    .our-gallery{
        width: 100%;
        padding: 0vw 7vw;
    }
    .slider{
        padding:0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .slider-box{
        width: 100%;
        aspect-ratio: 2/1;
        padding: 0;
    }
    .slider-box01{
        width: 100%;
        aspect-ratio: 2/1;
    }
    .event01-PC-background{
        position: absolute;
        transform: translate(0,-50%);
        top: 50%;
        left: 2.5%;
        display: flex;
        width: 75%;
        aspect-ratio: 2/1;
        opacity: 0.5;
        filter: blur(15px);
        -webkit-filter:blur(15px) ;
    }
    .event01-PC-background img{
        width: 100%;
        aspect-ratio: 2/1;
        object-fit: cover;
        object-position: 50% 50%;
    }
    .slider01-img01{
        width: 50%;
        aspect-ratio: 2/1;
    }
    .slider01-img01 img{
        padding: 0;
        margin :  0 15px 0 -15px;
        width: 100%;
        aspect-ratio: 2/1;
        object-fit: cover;
        object-position: 50% 50%;
        transition: 1s;
        opacity: 0;
    }
    .slider01-img01 img.active{
        margin : 0 ;
        opacity: 1;
    }
    .slider01-decoration-bgcolor-01{
        margin : 0 15px 0 -15px;
        width: 50%;
        aspect-ratio: 2/1;
        background-image: linear-gradient(90deg,rgba(249, 249, 249,0.4)0%,transparent 50%,rgba(249, 249, 249,0.4)100%);
        transition: 1s;
        opacity: 0;
    }
    .slider01-decoration-bgcolor-01.active{
        margin : 0 ;
        opacity: 1;
    }
    .slider01-decoration01{
        display: none;
    }
    .slider-article01{
        width: 40%;
        aspect-ratio: 1/.75;
    }
    .slider-article01 h4{
        padding:0;
        margin: -5% -15px 0 15px;
        font-size: 4vw;
        line-height: 6vw;
        letter-spacing: 1vw;
        transition: 1s;
        opacity: 0;
    }
    .slider-article01 h4.active{
        margin: -5% 0 0 0 ;
        opacity: 1;
    }
    .slider-article01 p{
        font-size: 2vw;
        line-height: 2.5vw;
        letter-spacing: 0.1vw;
        margin: 15% -15px 0 15px;
        padding: 0;
        opacity: 0;
        transition: 1s;
    }
    .slider-article01 p.active{
        margin: 15% 0 0 0;
        opacity: 1;
    }
    .slider-article01 a{
        font-size: 2vw;
        letter-spacing: 0.1vw;
        color: black;
        position: absolute;
        left: 50%;
        bottom: 10%;
        opacity: 0;
        transition: 1s;
    }
    .slider-article01 a.active{
        position: absolute;
        left: 45%;
        opacity: 1;
    }


    .event02-PC-background{
        position: absolute;
        transform: translate(0,-50%);
        top: 50%;
        right: 2.5%;
        display: flex;
        width: 75%;
        aspect-ratio: 2/1;
        opacity: 0.5;
        filter: blur(15px);
        -webkit-filter:blur(15px) ;
    }
    .event02-PC-background img{
        width: 100%;
        aspect-ratio: 2/1;
        object-fit: cover;
        object-position: 50% 50%;
    }
    .slider02-img01{
        width: 40%;
        aspect-ratio: 1/1.25;
    }
    .slider02-img01 img{
        padding: 0;
        margin :  0 -15px 0 15px;
        width: 100%;
        aspect-ratio: 1/1.25;
        object-fit: cover;
        object-position: 50% 50%;
        transition: 1s;
        opacity: 0;
    }
    .slider02-img01 img.active{
        margin: 0%;
        opacity: 1;
    }
    .slider02-decoration-bgcolor-01{
        margin : 0 -15px 0 15px;
        width: 40%;
        aspect-ratio: 1/1.25;
        background-image: linear-gradient(90deg,rgba(249, 249, 249,0.4)0%,transparent 50%,rgba(249, 249, 249,0.4)100%);
        transition: 1s;
        opacity: 0;
    }
    .slider02-decoration-bgcolor-01.active{
        margin: 0;
        opacity: 1;
    }

    .slider-article02{
        position: absolute;
        z-index: 15;
        transform: translate(0%,-50%);
        top: 50%;
        left: 0;
        width: 60%;
        aspect-ratio: 1/.825;
    }
    .slider-article02 h4{
        text-align: end;
        padding:0;
        margin: -5% 30px 0 -30px;
        font-size: 4vw;
        line-height: 6vw;
        letter-spacing: 1vw;
        transition: 1s;
        opacity: 0;
    }
    .slider-article02 h4.active{
        margin: -5% 15px 0 -15px;
        opacity: 1;
    }
    .slider-article02 p{
        text-align: end;
        font-family: garamond;
        font-size: 3vw;
        letter-spacing: 0.1vw;
        margin-top: 3vw;
        padding-right: 15%;
        margin-top: 35%;
        opacity: 0;
        transition: 1s;
    }
    .slider-article02 p.active{
        margin-top: 25%;
        opacity: 1;
    }
    .slider-article02 a{
        font-family: garamond;
        font-size: 2vw;
        letter-spacing: 0.1vw;
        color: black;
        position: absolute;
        left: 45%;
        bottom: 15%;
        opacity: 0;
        transition: 1s;
    }
    .slider-article02 a.active{
        left: 55%;
        opacity: 1;
    }


    .event03-PC-background{
        position: absolute;
        transform: translate(0,-50%);
        top: 50%;
        left: 2.5%;
        display: flex;
        width: 75%;
        aspect-ratio: 2/1;
        opacity: 0.5;
        filter: blur(15px);
        -webkit-filter:blur(15px) ;
    }
    .event03-PC-background img{
        width: 100%;
        aspect-ratio: 2/1;
        object-fit: cover;
        object-position: 50% 50%;
    }
    .slider03-img01{
        width: 60%;
        aspect-ratio: 1/0.5;
        transform: translate(0,-50%);
        top: 50%;
        left: 2.5%;
    }
    .slider03-img01 img{
        padding: 0;
        margin :  0 15px 0 -15px;
        width: 100%;
        aspect-ratio: 1/0.5;
        object-fit: cover;
        object-position: 50% 50%;
        transition: 1s;
        opacity: 0;
    }
    .slider03-img01 img.active{
        margin: 0%;
        opacity: 1;
    }
    .slider-article03{
        width: 40%;
        aspect-ratio: 1/.75;
    }
    .slider-article03 h4{
        padding:0;
        margin: -5% -15px 0 15px;
        font-size: 4vw;
        line-height: 6vw;
        letter-spacing: 1vw;
        transition: 1s;
        opacity: 0;
    }
    .slider-article03 h4.active{
        margin: -5% 0 0 0 ;
        opacity: 1;
    }
    .slider-article03 p{
        font-size: 2vw;
        line-height: 2.5vw;
        letter-spacing: 0.1vw;
        margin: 15% -30px 0 30px;
        padding: 0;
        opacity: 0;
        transition: 1s;
    }
    .slider-article03 p.active{
        margin: 15% -15px 0 15px;
        opacity: 1;
    }
    .slider-article03 a{
        font-size: 2vw;
        letter-spacing: 0.1vw;
        color: black;
        position: absolute;
        left: 20%;
        bottom: 10%;
        opacity: 0;
        transition: 1s;
    }
    .slider-article03 a.active{
        position: absolute;
        left: 10%;
        opacity: 1;
    }
}






/* News-subscription */

.news-subscription{
    width: 100%;
    padding: 0 15vw;
    border-top: 2.5px solid  #c9ab81;
}
.news-subscription-title h3{
    text-align: center;
    font-family: Garamond ;
    font-style: italic;
    font-size: 3vw;
    line-height: 6vw;
    letter-spacing: 0.2vw;
    color: #c9ab81;
}
.news-subscription-title h2{
    text-align: center;
    font-family: Garamond ;
    font-size: 5vw;
    line-height: 10vw;
    letter-spacing: 0.75vw;
}
.news-subscription input{
    width: 100%;
    margin: 3vw 0;
    border: none;
    background-color: transparent;
    border-bottom: 1px black solid;
    font-family: Garamond ;
    font-size: 3vw;
}
.news-subscription button{
    width: 50%;
    background-color: transparent;
    border: 1px black solid;
    margin: 5vw 0;
    font-family: Garamond ;
    font-size: 3vw;
    line-height: 8vw;
}
@media screen and (min-width:768px) {
    .news-subscription{
        width: 100%;
        aspect-ratio: 15/1;
        display: flex;
        align-items: center;
    }
    .news-subscription-title{
        width: 50%;
    }
    .news-subscription-title h3{
        text-align: start;
        font-size: 1vw;
        line-height: 2vw;
        letter-spacing: 0.2vw;
    }
    .news-subscription-title h2{
        text-align: start;
        font-size: 2vw;
        line-height: 4vw;
        letter-spacing: 0.2vw;
    }
    .news-subscription-second{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .news-subscription input{
        width: 50%;
        height: 2.5vw;
        border: none;
        border-bottom: 1px black solid;
        background-color: transparent;
        font-size: 1vw;
        letter-spacing: 0.5vw;
    }
    .news-subscription button{
        width: 30%;
        height: 2.5vw;
        background-color: transparent;
        border: 1px black solid;
        font-size: 1vw;
        line-height: 1vw;
        letter-spacing: 0.25vw;
    }
}

